[Desktop Entry]
Name=Talk to K
Comment=
Exec=/usr/bin/python3 /opt/talk_to_k/main.py
Icon=/usr/share/pixmaps/talk_to_k.png
Terminal=false
Type=Application
Categories=Education
StartupNotify=true
X-GNOME-UsesNotifications=true 